*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif !important;
}

body {
    font-family: 'Inter', sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}
